<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {% do craft.app.view.registerCssFile('@web/styles/reset.css') %}
    {% do craft.app.view.registerCssFile('@web/styles/style.css') %}
</head>
<body>
    <header>
      <nav class="navigation">
        <div class="navigation__content">
          <div>
            <a class="logo" href="{{siteUrl}}">FurnDeco</a>
          </div>
          <ul class="navigation__menu">
            <li class="menu__item"><a class="menu__item--link" href="{{siteUrl}}">Home</a></li>
            <li class="menu__item"><a class="menu__item--link" href="{{siteUrl}}about">About</a></li>
            <li class="menu__item"><a class="menu__item--link" href="{{siteUrl}}products">Products</a></li>
            <li class="menu__item"><a class="menu__item--link" href="{{siteUrl}}favourites">Favourites</a></li>
          </ul>
        </div>
      </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
        <p>This is the footer.</p>
    </footer>
    <script type="module" src="script.js"></script>
</body>
</html>