<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {% do craft.app.view.registerCssFile('@web/styles/reset.css') %}
    {% do craft.app.view.registerCssFile('@web/styles/style.css') %}
    <link rel="icon" href="assets/favicon.svg" type="image/svg+xml">
</head>
<body>
    <header>
      <nav class="navigation">
        <div class="navigation__content">
          <div>
            <a class="logo" href="{{siteUrl}}">FurnDeco</a>
          </div>
          <ul class="navigation__menu">
            <li class="menu__item"><a class="menu__item--link" href="{{siteUrl}}">Home</a></li>
            <li class="menu__item"><a class="menu__item--link" href="{{siteUrl}}about">About</a></li>
            <li class="menu__item"><a class="menu__item--link" href="{{siteUrl}}products">Products</a></li>
            <li class="menu__item"><a class="menu__item--link" href="{{siteUrl}}favourites">Favourites</a></li>
          </ul>
        </div>
      </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer class="footer">
      <div class="footer__content">
        <h2 class="footer__title">Let's get <span class="footer__title--line">in Touch.<span></h2>
        <div class="footer__contacts">
          <a href="mailto:info@furndeco.be">info@furndeco.be</a>
          <a href="tel:015481802">015 48 18 02</a>
          <a href="https://maps.app.goo.gl/AymLUxE2dkmTwd1L7" target="_blank">Raghenoplein 21 bis, 2800 Mechelen</a>
        </div>
        <div class="footer__navigation">
          <a href="{{siteUrl}}">Home</a>
          <a href="{{siteUrl}}about">Our Story</a>
          <a href="{{siteUrl}}products">Collection</a>
          <a href="{{siteUrl}}cart">Shopping Cart</a>
        </div>
      </div>
      <div class="footer__info">
        <div class="footer__docs">
          <a href="#">Terms of Use</a>
          <a href="#">Privacy Policy</a>
        </div>
        <div class="footer__socials">
          <a href="#"><img class="socials__img" src="assets/facebook.svg"></a>
          <a href="#"><img class="socials__img" src="assets/instagram.svg"></a>
          <a href="#"><img class="socials__img" src="assets/pinterest.svg"></a>
        </div>
        <p class="footer__copyright">© 2024 FurnDeco. All rights reserved.</p>
      </div>
    </footer>
    <script type="module" src="script.js"></script>
</body>
</html>