{% extends "_layout" %}

  {% block content %}

      <section class="hero__section">
        <img class="hero__img" src="assets/banners/foreground.jpg">
        <img class="hero__img--bg" src="assets/banners/background.jpg">
        <div class="hero__content">
          <h1 class="hero__title"><span class="hero__title--line">Experience</span> comfort &amp; elegance</h1>
          <a class="hero__cta" href="{{siteUrl}}products">View collection</a>
        </div>
      </section>
      <section class="categories__section">
        {% set categories = craft.entries().section('categories').all() %} 
        <h2 class="categories__title">Our categories...</h2>
        <div class="categories__select">
          <div class="categories__items">
            {% for category in categories %}
              <div class="categories__item">
                <div class="item__content"><span>{{category.title}}</span></div>
                <img class="item__img" src="{{category.categoriesImage.one().url()}}">
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="categories__button left"><img src="assets/icons/left.svg"></div>
        <div class="categories__button right"><img src="assets/icons/right.svg"></div>
      </section>
      <section class="spotlight__section">
        <div class="spotlight__wrapper">
          <div class="spotlight__content">
            <h2 class="spotlight__title">In the spotlight.</h2>
            <p>Explore our bestselling products that earned a place in the spotlight.</p>
          </div>
          <div class="products__sorting">
              <div class="sorting__select">
                  <span>Most Popular</span>
                  <img class="sorting__icon" src="assets/icons/dropdown.svg">
              </div>
              <div class="sorting__options">
                  <div class="sorting__option">Most Popular</div>
                  <div class="sorting__option">Alphabetical</div>
                  <div class="sorting__option">Price: low to high</div>
                  <div class="sorting__option">Price: high to low</div>
              </div>
          </div>
        </div>
        {% set products = craft.entries().section('products').orderBy('RAND()').spotlight('1').limit(8).all() %}
        <div class="products">
        {% for product in products %}
          <article class="product" data-{{product.category.one()}}>
            <p class="product__brand">{{product.brand.one()}}</p>
            <img class="product__img" src="{{product.productImage.one().url()}}">
            <div class="product__content">
              <h3 class="product__title">{{product.title|raw}}</h3>
              <p class="product__price">{{product.price}}</p>
            </div>
          </article>
        {% endfor %}
        </div>
        <div class="spotlight__button">
          <a href="{{siteUrl}}products">More Products</a>
        </div>
      </section>
      
  {% endblock %} 