<div class="products">
    {% for product in products %}
        <article class="product" data-title="{{product.title}}" data-category="{{product.category.one()}}">
            <a class="product__url" href="{{product.url}}">
                <p class="product__brand">{{product.brand.one()}}</p>
                <img class="product__img" src="{{product.productImage.one().url()}}">
                <div class="product__content">
                    <h4 class="product__title">{{product.title}}</h4>
                    <p class="product__price">{{product.price}}</p>
                </div>
            </a>
        </article>
    {% endfor %}
</div>